{% extends 'base.html.twig' %}
{% block body %}
    <a style="margin: 2.5% 0 0 2.5%" class="btn btn-outline-dark" href="{{path('student_list')}}" role="button">Back to Student List</a>
    <h1 style="margin: 10% 0 0 35%">Student is not found</h1>
{% endblock %}