{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
<<<<<<< HEAD
        <label for="MajorID">Major:</label>
=======
        <label for="MajorName">Major Name:</label>
>>>>>>> 519d38d4875b7f574be0a25202fc84d5b1fdeda5
        {{ form_widget(form.Major) }}
    </div>
    <div class="form-group">
        <label for="Name">Subject:</label>
        {{ form_widget(form.Name) }}
    </div>
    <input type="submit" name="create_subject" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}