{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="MajorID">Major:</label>
        {{ form_widget(form.Major) }}
    </div>
    <div class="form-group">
        <label for="Name">Name:</label>
        {{ form_widget(form.Name) }}
    </div>
    <input type="submit" name="create_todo" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}