{% extends 'base.html.twig' %}
{% block body %}
    <a style="margin: 2.5% 0 0 2.5%" class="btn btn-outline-dark" href="{{path('score')}}" role="button">Back to Scoreboard</a>
    <h1 style="margin: 10% 0 0 35%">No Subject Found</h1>
{% endblock %}